.idea
/WebApi/bin
/WebApi/obj

/Core/bin
/Core/obj

/Infrastructure/bin
/Infrastructure/obj

/OrderProcessingService/bin
/OrderProcessingService/obj
/OrderProcessingService/appsettings.Development.json

/WebApi/appsettings.Development.json

Logs